/***********************************
 Base
************************************/

canvas {
	margin: 15px 0;
}

.traffic-heading {
	@include flexy($align: center, $just: space-between);
	padding: 10px 0;
	@include mq('med') {
		padding: 1em 1em 0 1em;
	}
}

.chartFilters li {
	display: inline-block;
	padding: 5px 7px;
	transition: .3s ease-out;
	border-radius: 20px;
	font-size: .75em;
	&:hover {
		color: $white;
		cursor: pointer;
		background-color: $color-secondary;		
	}
	@include mq('med') {
		font-size: 1em;
		padding: 5px 12px;
	}
}

.selectedChart {
	color: $white;
	background-color: $color-secondary;
}

.daily-traffic h3,
.mobile-users h3 {
	padding: 20px 0 0 20px;
}


