/***********************************
 Grid
************************************/

section {
	margin: 30px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #D2D2D2;
	@include mq('med') {
		margin: 0;
		padding: 0;
	}
}

section.settings {
	border-bottom: none;
	padding-bottom: 0;
	@include mq('med') {
		padding-bottom: 1em;
	}
}

.container {
	display: grid;
	padding-bottom: 1em;
	grid-template-columns: 100%;
	grid-template-rows: repeat(2, 80px) 1fr;
	grid-template-areas:
		"header"
		"aside"
		"main";
	@include mq('med') {
		padding-bottom: 0;
		width: 94%;
		margin: 0 auto;
		grid-template-columns: 80px 1fr;
		grid-template-rows: 80px 1fr;
		grid-template-areas: 
			"header header"
			"aside main";
	}
	@include mq('lg') {
		width: 85%;
		max-width: $max-width;
	}
}

main {
	grid-area: main;
	@include mq('med') {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"title-and-search title-and-search"
			"alert alert"
			"traffic traffic"
			"daily-traffic mobile-users"
			"social-stats social-stats"
			"new-members recent-activity"
			"message-user settings";
	}
}

.title-and-search {
	grid-area: title-and-search;
}

.page-title {
	grid-area: page-title;
}

.search {
	grid-area: search;
}

.alert {
	grid-area: alert;
}

.traffic {
	grid-area: traffic;
}

.daily-traffic {
	grid-area: daily-traffic;
}

.mobile-users {
	grid-area: mobile-users;
}

.social-stats {
	grid-area: social-stats;
}

.new-members {
	grid-area: new-members;
}

.recent-activity {
	grid-area: recent-activity;
}

.message-user {
	grid-area: message-user;
	@include mq('med') {
		@include flexy($dir: column);
		border-bottom: none;
	}
}

.settings {
	grid-area: settings;
	@include mq('med') {
		@include flexy($dir: column);
	}
}

.social-stats,
.new-members,
.recent-activity,
.message-user,
.settings {
	@include mq('med') {
		padding: 1em;
	}
}

.daily-traffic,
.new-members,
.message-user {
	@include mq('med') {
		border-right: 1px solid #D2D2D2;
	}
}