/***********************************
 Header
************************************/

header {
	@include flexy($align: center);
	background-color: $color-primary;
	grid-area: header;
	padding: 1.25em;
	position: relative;
}

.notification {
	position: relative;
}

.notification:hover {
	cursor: pointer;
}

.line {
	height: 45px;
	border-right: 1px solid #5D61BF;
	margin-left: 15px;
	margin-right: -13px;
	@include mq('med') {
		margin-left: 20px;
		margin-right: -22px;
	}
}

.logo {	
	margin-right: auto;
}

.bell-alert {
	background-color: $color-secondary;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 17px;
}

.bell-messages {
	display: none;
	position: absolute;
	right: 159px;
	top: 80px;
	width: 150px;
	font-size: .75rem;
	background: $color-secondary;
	z-index: 2;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 2px 2px 5px $color-primary-dark;
}

.bell-messages li {
	margin: 5px;
}