/***********************************
 Header
************************************/

header {
	background-color: $color-primary;
	grid-area: header;
	display: flex;
	align-items: center;
	padding: 1em;
}

.notification {
	position: relative;
}

.notification:hover {
	cursor: pointer;
}

.bell-alert:after {
    content: "";
    border-right: 1px solid #5D61BF;
    padding: 10px 5px 15px 10px;
    @include mq('med') {
    	padding: 10px 15px 15px 10px;
    }

}

.logo {	
	margin-right: auto;
}

.bell-alert {
	background-color: $color-secondary;
	height: 7px;
	width: 7px;
	border-radius: 50%;
	position: absolute;
	top: 4.2em;
}