/***********************************
 Images
************************************/

img {
	max-width: 100%;
	border-radius: 50%;
}

.profile-avatar {
	width: 30px;
	height: 30px;
	margin-left: 1.5em;
	margin-right: .6em;
	@include mq('med') {
		margin-left: 2.5em;
	}
}

.member-photo {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}