/***********************************
 Images
************************************/

.profile-avatar {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-left: 1.5em;
	margin-right: .6em;
	@include mq('med') {
		margin-left: 2.5em;
	}
}