/***********************************
 Main
************************************/

main {
	padding: .75em;
	@include mq('med') {
		padding: 0;
	}
}

.alert {
	@include flexy($align: center, $just: space-between);
	background-color: $color-primary;
	color: $white;
	border-radius: 4px;
	padding: 10px 7px;
	margin-bottom: 10px;	
	@include mq('med') {
		padding: 1em;
		margin: 0 1em;
	}
}

.alert p {
	margin-right: 10px;
	font-size: .8rem;
}

.alert-text {
	font-weight: 900;
	margin-right: 10px;
	font-size: 1rem;
}

.alert .fa-times:hover {
	cursor: pointer;
}

.title-and-search {
	@include flexy($just: space-between);
}