/***********************************
 Typography
************************************/

body {
	font-family: $font-stack-primary;
	color: $white;
}

main,
input,
textarea {
	color: $color-text;
}

#timezone {
	color: $color-form-placeholder;
}

.page-title {
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	@include mq('med') {
		text-align: left;
		font-size: 1.1em;
		margin-left: .8em;
	}
	@include mq('lg') {
		font-size: 1.25em;
	}
}

.username {
	font-size: .8em;
	letter-spacing: .5px;
}

.logo {
	font-size: 1.25em;
	font-weight: 100;
}

.logo-your {
	font-weight: 900;
}

.logo-tm {
	font-size: .6em;
	vertical-align: top;
}

.section-title {
	text-transform: uppercase;
	font-size: .75rem;
	letter-spacing: 1px;
	font-weight: 500;
}

// .section-title:nth-of-type(1) {
// 	display: inline;
// }

.social-name {
	color: $color-primary;
	font-weight: 900;
	text-align: center;
	@include mq('med') {
		text-align: left;
		font-size: 1rem;
	}
}

.social-counter {
	font-size: 2rem;
	@include mq('med') {
		font-size: 1.5rem;
	}
	@include mq('lg') {
		font-size: 2.5rem;
	}
}

.member-activity-list li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	@include mq('med') {
		border-bottom: 1px solid #E9E9E9;
		padding: 10px 0;
		height: 75px;
		margin-bottom: 0;
	}
}

.member-activity-list li:last-of-type {
	@include mq('med') {
		border-bottom: none;
	}
}

.new-member-name,
.activity-description {
	font-size: 0.8rem;
}

.new-member-date,
.activity-time {
	font-size: 0.75rem;
}

.new-member-email {
	font-size: 0.65rem;
	@include mq('lg') {
		font-size: .8rem;
	}
}

.activity-button {
	font-size: 1em;
	@include mq('med') {
		font-size: 1.5em;
	}
}

.activity-time {
	color: $color-primary;
}

.new-member-date,
.activity-button {
	margin-left: auto;
}

.new-member-email a,
.activity-button a {
	color: $color-primary;
	text-decoration: none;
}

.new-member-email a:hover {
	opacity: 0.7;
}